// Ro'yxatdagi stillarni olib tashlash

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


// Psevdoelementdagi uchburchak

@mixin triangle ($direction, $size: 15px, $color: black) {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  
  @if $direction == "up" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  } @else if $direction == "down" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  } @else if $direction == "left" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  } @else if $direction == "right" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}


// Media so'rovlar uchun mixin

@mixin breakpoint-down ($screen-width) {
  @media only screen and (max-width: $screen-width) {
    @content;
  }
}

@mixin breakpoint-up ($screen-width) {
  @media only screen and (min-width: $screen-width) {
    @content;
  }
}

@mixin breakpoint-between ($min-screen, $max-screen) {
  @media only screen and (min-width: $min-screen) and (max-width: $max-screen) {
    @content;
  }
}
//h1-large
@mixin h-($word) {
  @if $word == 'large' {
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
  }
  
  @else if $word == '3' {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
  
  @else if $word == 'small' {
    font-size: 64px;
    line-height: 58px;
    font-weight: 700;
  }
  
  @else if $word = '2' {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }
}

// body font 
@mixin body-($number) {
  @if $number == 1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
  
  @if $number == 2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  }
  
}