.site-header__button{
  margin-left: auto;
  @include breakpoint-down(750px){
    margin-left: 0;
    margin-top: 36px;
  }
}

.button {
  @include body-(1);
  display: inline-block;
  text-decoration: none;
  border-radius: 24px;
  padding: 10px 32px;
  white-space: nowrap;
}

.button-light{
  color: #fff;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  transition: background-color 0.4s ease , 
  color 0.4s ease;
  &:hover{
    background-color: #fff;
    color:  #002529;
  }
}

.button-dark{
  border: 2px solid #012F34;
  color: #012F34;
  transition: color 0.4s ease, 
  background-color 0.4s ease;
  &:hover{
    color: #fff;
    background-color: #012F34;
  }
}