.clients{
  background-color: #012F34;
  padding: 140px 0;
  background-image: url('../../img/clients-bg.png');
  background-repeat: no-repeat;
  background-position: top left calc(50% - 625px);
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading{
    @include h-(2);
    margin-top: 0;
    margin-bottom: 64px;
    color: #fff;
    text-align: center;
  }
  &__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
  }
  @include breakpoint-down (750px) {
    
    padding: 0 0;
    background-image: none;
    .container{
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url('../../img/clients-bg.png');
      background-repeat: no-repeat;
      background-position: top -100px left  ;
    }
    &__heading{
      font-size: 32px;
      line-height: 1;
      margin-bottom: 48px;
    }
  }
  @include breakpoint-down(600px){
    .container{
      background-position: top -100px left -100px;
      padding-top: 88px;
      padding-bottom: 88px;
    }
    &__list{
      flex-direction: column;
    }
    &__heading{
      margin-bottom: 64px;
    }
  }
}
.client{
  display: flex;
  align-items: center;
  justify-content: center;
  & +  & {
    margin-left: 20px;
  }
  &__link{
    display: inline-block;
  }
  &__logo{
    display: block;
  }
  @include breakpoint-down(600px){
    & +  & {
      margin-left: 0;
      margin-top: 60px;
    }
  }
}

