.comfort{
  padding-top: 200px;
  padding-bottom: 140px;
  background-color: #012F34;
  background-image: url('../img/comfort-bg.png');
  background-repeat: no-repeat;
  background-position: bottom right -100px;
  .container{
    display: flex;
    justify-content: space-between;
  }
  &__heading{
    @include h-(2);
    display: inline-block;
    margin: 0;
    max-width: 445px;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    &::before{
      width: 50px;
      height: 4px;
      position: absolute;
      content: '';
      left: 0;
      top: -54px;
      display: inline-block;
      background-color: #F67E7E;
    }
  }
  &__list{
    @include reset-list;
    max-width: 540px;
  }
  &-human::before{
    background-image: url('../img/human-img.png');
  }
  &-setting::before{
    background-image: url('../img/setting-img.png');
  }
  &-graphic::before{
    background-image: url('../../img/graphics-img.png');
  }
  &__item{
    display: flex;
    align-items: center;
    & + &{
      margin-top: 32px;
    }
    &::before{
      width: 72px;
      height: 72px;
      content: '';
      display: inline-block;
      background-repeat: no-repeat;
      margin-right: 23px;
      flex-shrink: 0;
    }
    &-box{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
  &__name{
    @include body-(1);
    color: #F67E7E;
    margin-top: 0;
    margin-bottom: 16px;
  }
  &__text{
    @include body-(2);
    color: #fff;
    margin: 0;
  }
  @include breakpoint-down(800px){
    padding-top: 136px;
    padding-bottom: 100px;
    background-position: top right -100px;
    .container{
      flex-direction: column;
    }
    &__heading{
      max-width: 573px;
      line-height: 1;
      font-size: 32px;
      margin-bottom: 64px;
      &::before{
        top: -32px;
      }
    }
  }
  @include breakpoint-down(375px){
    padding-top: 100px;
    padding-bottom: 64px;
    &__heading{
      max-width: 240px;
      margin-bottom: 56px;
    }
    &__item{
      flex-direction: column;
      text-align: center;
      max-width: 100%;
      &::before{
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
    &__name{
      margin-bottom: 8px;
    }
  }
}