.hero{
  &-home{
    background-color: #014E56;
    background-image: url('../img/hero-left-bg.png'), url('../img/hero-right-bg.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top 56px left calc(50% - 750px), bottom -100px right calc(50% - 300px);
  }
  .container{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 255px;
  }
  &-about{
    
    background-color: #014E56;
    .container{
      padding-bottom: 120px;
      align-items: flex-start;
      background-image: url('../img/about-right-bg.png');
      background-repeat: no-repeat;
      background-position: bottom right calc(50% - 720px);
    }
  }
  &__heading{
    @include h-(large);
    margin: 0;
    color: #fff;
    max-width: 550px;
    &-about{
      max-width: 200px;
      font-size: 64px;
    }
    flex-shrink: 0;
    span{
      color: #F67E7E;
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    max-width: 445px;
    color: #fff;
    &-before-h::before{
      background-color: #79C8C7;
    }
    @include body-(1);
    margin: 0;
    &::before{
      width: 50px;
      height: 4px;
      content: '';
      display: inline-block;
      margin-bottom: auto;
    }
    &-before-a{
      max-width: 730px;
      &::before{
        background-color: #F67E7E;
        margin-bottom: 40px;
      }
      
    }
  }
  @include breakpoint-down(950px){
    &-home{
      background-position: top 56px left calc(50% - 750px), bottom -100px center;
    }
    .container{
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 40px;
    }
    &-about{
      background-image: none;
      .container{
        background-image: url('../../img/about-right-bg.png');
        background-repeat: no-repeat;
        background-position: bottom right -100px;
        padding-bottom: 112px;
      }
    }
    &__heading{
      @include h-(small);
      margin-bottom: 24px;
    }
    &__text{
      @include body-(2);
      line-height: 28px;
      &::before{
        display: none;
      }
    }
  }
  @include breakpoint-down (750px){
    .container{
      padding-top: 35px;
      margin-top: -3px;
    }
    &-about{
      .container{
        background-position: bottom -100px right -100px;
        padding-bottom: 110px;
      }
    }
  }
  @include breakpoint-down(375px){
    &-home{
      background-size: contain,100% auto;
    }
    .container{
      padding-bottom: 200px;
    }
    &-about{
      .container{
        padding-bottom: 110px;
      }
    }
    &__heading{
      font-size: 40px;
      line-height: 1;
      margin-bottom: 18px;
    }
  }
}